body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: white;
}

header {
    background-color: black;
    color: white;
    padding: 20px;
    text-align: center;
}

input, button {
    padding: 10px;
    margin: 10px;
    font-size: 16px;
}

#gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
    justify-content: center;
    border-color: black;
}

.repo-card {
    background-color: white;
    padding: 20px;
    border: 1px solid black;
    width: 300px;
 
}

.repo-card a {
    text-decoration: none;
    color: blue;
}

.repo-card a:hover {
    text-decoration: underline;
}
